@charset "utf-8";
*{
      box-sizing: border-box; 
      margin:0px;
      padding:0px;
}
body{

      margin:0;
}
html{
      scroll-behavior:smooth;
}
@media(min-width:768px){
      header{
            height:230px;
            width:100%;
            background-image:url(images/Frame\ 1\ \(3\).jpg);
            background-size:cover;
            background-position:center;
            background-repeat:no-repeat;
            position:relative;
            padding:0;
      }
      nav{
            position: absolute;
            top:10px;
            right:20px;
            z-index:2;
      }
      header::after{
            content:"";
            position: absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background:rgba(0,0,0,0,3) ;
            z-index:1;
      }
      main{
            grid-template-columns:1fr 1fr;
      }
      .p1{
            max-width:500px;
            margin:5px;
      }
       .p2{
            max-width:500px;
            margin:5px;
      }
       .p3{
            max-width:500px;
            margin:5px;
      }
      .images6{
            max-width:400px;
      }
}
header{
      width:100%;
      display: flex;
      justify-content:flex-start;
      position: relative;
      margin:0;

}
@font-face {
      font-family:bti;
      src: url(font/B\ Titr\ Bold_0.ttf);
}
nav{
   display: flex;   
   flex-wrap:wrap;
   justify-content:flex-end;
   gap:10px;
}
.btn{
      padding:10px 15px;
      margin-top:0;
      font-size:16px;
      color:rgb(230, 241, 241);
      font-family:bti;
      text-decoration:none;
}

main{
       display:grid;
       grid-template-columns:repeat(2,1fr);
       gap:15px;
       align-items: start;
}
.p1{
    width:100%;
    height:auto;
    background-color:#edfafc;
    border-radius:30px 1px 30px 1px;
    font-family:bti;
    font-size:clamp(14px,2vw,18px);
    text-align:right;
    color:rgb(4, 70, 131);
    padding:20px;
}
.p2{
    width:100%;
    height:auto;
    background-color:#edfafc;
    border-radius:30px 1px 30px 1px;
    font-family:bti;
    font-size:clamp(16px,2.5vw,20px);
    text-align:right;
    color:rgb(4, 70, 131);
    padding:20px;
}
.p3{
    width:100%;
    height:auto ;
    background-color:#edfafc;
    border-radius:30px 1px 30px 1px;
    font-family:bti;
    font-size:clamp(16px,2.5vw,20px);
    text-align:right;
    color:rgb(4, 70, 131);
    padding:20px;
}
.images1{
      width:100%;
      max-width:130px;
      height:auto;
      display:block;
      margin:15px auto ; 
}
.images3{
     width:80px;
     height:auto;
     display:block;
     margin:10px auto;

}
.images4{
      width:60px;
      height:auto;
      display:block;
       margin:10px auto;
      }
.images5{
      width:200px;
      height:auto;
}
.images6{
      width:100%;
      height:auto;
      margin:10px 0;
      border-radius:10px 30px 60px 120px;
      box-shadow:15px 30px rgb(196, 226, 255);
      }
.images7{
      width:80px;
      height:auto;
      display: block;
      margin:10px auto;
}  
.imgbox{
      display: flex;
      gap:10px;
      flex-wrap:wrap;
}
.p4{
      padding:10px;
      margin:10px;
      outline:0px ;
      text-align:right;
      font-family:bti;
      font-size:clamp(17px,2.5vw,20px);
      color:rgb(4,70,131);
      display:flex;
      flex-direction: column;
      direction:rtl;
      gap:0px;
      flex-wrap:wrap;
}
.p44{
      display: block;
      width:100%;
      padding:10px;
      font-size:clamp(22px,4vw,34px);
      font-family:bti;
      color:rgb(202, 73, 34) ;
}
footer{
      display:flex;
      align-items: center;
      justify-content:space-between;
      flex-wrap:nowrap;
      gap:15px;
      padding:20px;
      clear: both;
}
.p5{
    width:auto;
    max-width:250px;
    height:auto;
    flex:1;
    font-family:bti;
    font-size:18px;
    color:rgb(4, 70, 131);
    background-color: #f0f8ff;
    padding:15px;
    margin:10px 0;
    text-align: right;
    border-radius:20px;
}
.p5:hover{
      border-radius:50px 50px 50px 50px;  
}
.p6{
    width:auto;
    max-width:250px;
    flex:1;
    height:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    color:rgb(4, 70, 131);
    background-color: #f0f8ff;
    padding:15px;
    margin:10px 0;
    text-align:right;
    border-radius:20px;
}
.tem{
      display:flex;
      align-items:center;
      gap:10px ;
}
.p7{
   text-align: center;
   font-family: bti;
   font-size:clamp(16px,2.5vw,22px);
   padding:30px;
   margin:0;
   width:100%;
   height:auto;
   display: block;
   background-color: #f0f8ff;
   color:rgb(4, 70, 131);
   clear: both;
}
@media(max-width:480px){
      header{
      text-align: left;
      width:100%;
      height:200px;
      background-image:url(images/banner1.png);
      background-size: cover;
      background-position:center;
      background-repeat:no-repeat;
      }
      main{
      grid-template-columns:repeat(2,1fr);
      gap:10px;
      }
      footer{
            flex-wrap:wrap;
            justify-content:space-between;
            gap:10px;
      }
      .p1{
            margin-top:15px;
            width:90%;
            margin-bottom:8px;
            font-size:10px;
            line-height:1.8;
            padding-top:5px;
      }
      .p2{
            width:90%;
            margin-bottom:8px;
            font-size:10px;
            line-height:1.8;
            padding-top:5px;
      }
      .p3{
            width:90%;
            margin-bottom:8px;
            font-size:10px;
            line-height:1.8;
            padding-top:5px;
      }
       .p4{
            font-size:12px;
            line-height:1.8;
      }
      .p5{
            max-width:50%;
            font-size:7px;
            padding:10px;
      }
      .p6{
             max-width:50%;
             font-size:7px;
             padding:10px;
      }
      .p7{
            font-size:4px;
            padding:10px;
      }
      .p44{
            font-size:15px;
      }
      .btn{
            font-size:8px;
            padding:4px;
      }
      .images1{
            width:40%;
      }
      .images3{
            width:35px;
      }
      .images4{
            width:20px;
      }
      .images5{
            width:120px;
      }
      .images6{
            border-radius:10px  15px 30px 30px;
            box-shadow:10px 15px rgb(196, 226, 255);
            width:70%;
            max-width:100%;
            margin:5px 0;
      }
      .images7{
            width:40px;
      }
      .imgbox{
            flex-direction: column;
      }
}