@charset "utf-8";

*{
      box-sizing: border-box; 
      margin:0px;
      padding:0px;
}
body{
      direction: rtl;
}
html{
      scroll-behavior:smooth;
}
@media(min-width:768px){
      main{
            grid-template-columns:1fr 1fr;
      }
}
header{
      width:100%;
      padding:15px;
      text-align:left;
      align-items: center;
      background-color:#f0f8ff;

}
@font-face {
      font-family:bti;
      src: url(font/B\ Titr\ Bold_0.ttf);
}
.font1{
      padding:5px;
      font-size:40px;
      color:rgb(4, 70, 131);
      font-family:bti, Tahoma, Arial, sans-serif;
      margin:5px 5px;
      text-align:right;
}
.font2{
      color:rgb(4, 70, 131);
      font-family:bti Tahoma, Arial, sans-serif;
      text-align:center;
      font-size:35px;
      padding:40px;
}
nav{
   display: flex;   
   flex-wrap:wrap;
   justify-content:flex-end;
   gap:10px;
}
.btn{
      padding:10px 15px;
      font-size:16px;
      color:rgb(4, 70,131);
      font-family:bti;
      text-decoration:none;
}

main{
       display:grid;
       gap:20px;
}
.p1{
    width:100%;
    max-width:500px;
    height:auto;
    background-color:#FFF5BA;
    margin:10px 0;
    border-radius:30px 1px 30px 1px;
    font-family:bti;
    font-size:25px;
    text-align:right;
    color:rgb(4, 70, 131);
    padding:20px;
}
.p2{
    width:100%;
    max-width:500px;
    height:auto;
    background-color:#FBE4FF;
    margin:10px 0;
    border-radius:30px 1px 30px 1px;
    font-family:bti;
    font-size:25px;
    text-align:right;
    color:rgb(4, 70, 131);
    padding:20px;
}
.p3{
    width:100%;
    max-width:500px;
    height:auto ;
    background-color:#FFCECE;
    margin:10px 0;
    border-radius:30px 1px 30px 1px;
    font-family:bti;
    font-size:25px;
    text-align:right;
    color:rgb(4, 70, 131);
    padding:20px;
}
.images1{
      width:100%;
      max-width:120px;
      height:auto;
      display:block;
      margin:15px auto ; 
}
.images2{
      width:100%;
      max-width:500px;
      height:auto;
      margin:40px;
      border-radius:10px 30px 60px 120px;
      box-shadow:15px 30px rgb(196, 226, 255);
      
}
.images3{
     width:80px;
     height:auto;
     display:block;
     margin:10px auto;

}
.images4{
      width:60px;
      height:auto;
      display:block;
       margin:10px auto;
      }
.images5{
      width:200px;
      height:auto;
}
.images6{
      width:100%;
      max-width:500px;
      height:auto;
      margin:15px;
      border-radius:10px 30px 60px 120px;
      box-shadow:15px 30px rgb(196, 226, 255);
      }
.images7{
      width:80px;
      height:auto;
      display: block;
      margin:10px auto;
}  
.p4{
      padding:10px;
      margin:10px;
      outline:0px ;
      text-align:right;
      font-family:bti;
      font-size:30px;
      color:rgb(4,70,131);
      display:flex;
      direction:rtl;
      gap:0px;
      flex-wrap: wrap;
}
.p44{
      padding:10px;
      font-size:40px;
      font-family:bti;
      color:rgb(202, 73, 34) ;
}
footer{
      display:flex;
      align-items: center;
      justify-content:flex-start;
      flex-wrap:wrap;
      gap:30px;
      padding:20px;
}
.p5{
    width:100%;
    max-width:400px;
    height:auto;
    font-family:bti;
    font-size:18px;
    color:rgb(4, 70, 131);
    background-color: #f0f8ff;
    padding:15px;
    margin:10px 0;
    text-align: right;
    border-radius:20px;
}
.p5:hover{
      border-radius:50px 50px 50px 50px;  
}
.p6{
    width:100%;
    max-width:400px;
    height:auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:18px;
    color:rgb(4, 70, 131);
    background-color: #f0f8ff;
    padding:15px;
    margin:10px 0;
    text-align:right;
    border-radius:20px;
}
.tem{
      display: flex;
      align-items: center;
      gap:10px ;
}
.p7{
   text-align: center;
   font-family: bti;
   font-size:25px;
   padding:20px;
   margin:0px;
   width:100%;
   height:auto;
   display: block;
   background-color: #f0f8ff;
   color:rgb(4, 70, 131);
   clear: both;
}
